@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, synthwave, cyberpunk, dark;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: red;
  --color-secondary: teal;
}

.btn-primary {
  @apply bg-gradient-to-r from-[#b40000] via-[#cf0000] to-[#e90000] border-none text-white
}

.btn-primary:hover {
  @apply opacity-80
}

* {
  font-family: "Inter", sans-serif;
}