@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: red;
  --color-secondary: teal;
}

.btn-primary {
  @apply bg-gradient-to-r from-[#9b0000] to-[#ff0000] border-none text-white
}

.btn-primary:hover {
  @apply opacity-90
}